@model IEnumerable<LojaFemme.Models.Estoque>

@{
    ViewData["Title"] = "Estoque";
}

<h1>Estoque</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstoqueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstoqueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstoqueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
